PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=ZKfXxv7wiFfZs0uDPfHi_x9x5NR8q7Pi
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid
S3_KEY=dummyKey
S3_SECRET=dummySecret
S3_BUCKET=dummyBucket
S3_REGION=dummyRegion
S3_ENDPOINT=dummyEndpoint
SESSION_DRIVER=cookie
