//  Screen Sizes
$mobilePhoneScreen: 500px;
$mobileScreen: 768px;
$tabletMinScreen: 769px;
$tabletMaxScreen: 1023px;
$desktopScreen: 1024px;
$desktopLargeScreen: 1280px;
$desktopExtraLargeScreen: 1440px;
//Base  Colors
$nearBlack: #212427;
$nearWhite: #f5f5fa;
$secondary: #119abf;
$contrast: #ff6b6b;
$accent: #2ecc71;
$neutral-light: #f8f9fa;
$neutral-dark: #343a40;
// Color Pallete
$primary: #00BDD6;
$secondary: #8353E2;
$color3:#4069E5;
$color4:#ED7D2D;
$danger:#DE3B40;
$warning:#EFB034;
$success:#1DD75B;
$info:#379AE6;
$lighter-background-color: #282828;
$background-color: #161616;
$container-background-color: #171A1FFF;
