//  Screen Sizes
$smallMobile: 640px; // Small mobile devices
$tablet: 768px; // Tablet devices
$desktop: 1024px; // Desktop devices
$wideDesktop: 1280px; // Wide desktop devices
$ultraWideScreen: 1536px; // Ultra-wide desktop devices
//Neutral   Colors
$nearBlack: #212427;
$nearWhite: #f5f5fa;
$neutral-light: #f8f9fa;
$neutral-dark: #343a40;
// Background Color
$background-color: #f5f5fa;
// Primary Colors
$primary: #ffb607;
$primary-near-black: #212427;
$primary-hover: #ffa200;
// Secondary Colors
$secondary: #72a900;
$contrast: #2f4858;
// Error and Success Colors
$danger: #de3b40;
$warning: #efb034;
$success: #1dd75b;
$info: #379ae6;
