@import "../assets/base";
@import "../assets/variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0 auto;
  font-weight: normal;
  height: 100vh;
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
}

.base-container {
  width: 100%;
 
  padding: 0 1rem;
  background: #171A1FFF; 
  border-radius: 4px; 
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; 
}

.inner-container {
  width: 100%;
  max-width: 1280px;
  padding: 1rem ;
  border-radius: 4px; 
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; 
}

.form-container {
  width: 100%;
  max-width: 1280px;
  padding: 4rem ;
}

.links-container {
  width: 80%;
  max-width: 1280px;
  padding: 4rem ;
}

.footer-container {
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  background: #1D2128FF; 
  border-radius: 4px; 
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f; 
}