@import "../assets/base";
@import "../assets/variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0 auto;
  font-weight: normal;
  height: 100vh;
}

.fluid-container {
  width: 100%;
  max-width: $wideDesktop;
  margin: 0 auto;
  flex: 1 2 0;
}

.fixed-width-container {
  max-width: $wideDesktop;
  margin: 0 auto;
}

.footer-container {
  width: 100%;
  margin: 0;
  padding: 0 1rem;
}

.form-container {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}
